<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Data</key>
	<array>
		<string>Worst Balls</string>
		<string>Smelliest Testicles</string>
		<string>Thickest Pubic Thatch</string>
		<string>Tightest Dungarees</string>
		<string>Smelliest Little Pecker</string>
		<string>Butteriest Grundle</string>
		<string>Sickest Thoughts</string>
		<string>Dirtiest Shaft</string>
		<string>Most Terrible Dick</string>
		<string>Worst Dick</string>
		<string>Best Smelling Erection</string>
	</array>
</dict>
</plist>
