<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Data</key>
	<array>
		<string>Balls</string>
		<string>Testicles</string>
		<string>Tits</string>
		<string>Nipples</string>
		<string>Dungarees</string>
		<string>Pubic Thatch</string>
		<string>Pubic Hair</string>
		<string>Cleavage</string>
		<string>Dick</string>
		<string>Shaft</string>
		<string>Booty Shorts</string>
		<string>Grundle</string>
		<string>Genitals</string>
		<string>Butthole</string>
		<string>Pecker</string>
	</array>
</dict>
</plist>
