<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Data</key>
	<array>
		<string>Balls</string>
		<string>Testicles</string>
		<string>Tits</string>
		<string>Nipples</string>
		<string>Dungarees</string>
		<string>Pubic Thatch</string>
		<string>Pubic Hair</string>
		<string>Cleavage</string>
		<string>Dick</string>
		<string>Shaft</string>
		<string>Booty Shorts</string>
		<string>Grundle</string>
		<string>Genitals</string>
		<string>Butthole</string>
		<string>Pecker</string>
		<string>Sweater Puppets</string>
		<string>Knockers</string>
		<string>Sack</string>
		<string>Fanny Pack</string>
		<string>Butt Cheeks</string>
		<string>Undercarriage</string>
		<string>Cock</string>
		<string>FUPA</string>
		<string>Erection</string>
		<string>Back Hair</string>
		<string>Foreskin</string>
		<string>Mushroom Tip</string>
		<string>Clitoris</string>
		<string>Ovaries</string>
		<string>Flow</string>
		<string>Birth Canal</string>
		<string>Gunt</string>
		<string>Taint</string>
	</array>
</dict>
</plist>
